### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [38]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [39]:
data = {
'evolution': ['Bulbasaur', 'Charmander', 'Squirtle', 'Pidgey', 'Pikachu', 'Eevee', 'Clefairy', 'Jigglypuff', 'Gastly', 'Onix', 'Machop', 'Geodude', 'Ditto', 'Seel', 'Drowzee'],
    'hp': [45, 39, 44, 40, 35, 55, 70, 115, 30, 35, 70, 40, 48, 65, 60],
    'name': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Pidgeotto', 'Raichu', 'Vaporeon', 'Clefable', 'Wigglytuff', 'Haunter', 'Steelix', 'Machoke', 'Graveler', 'Ditto', 'Dewgong', 'Hypno'],
    'pokedex': [2, 5, 8, 17, 25, 133, 35, 40, 92, 95, 67, 75, 132, 86, 96],
    'type': ['Grass/Poison', 'Fire', 'Water', 'Normal/Flying', 'Electric', 'Water', 'Fairy', 'Normal/Fairy', 'Ghost/Poison', 'Rock/Ground', 'Fighting', 'Rock/Ground', 'Normal', 'Water/Ice', 'Psychic']
}

### Step 3. Assign it to a variable called pokemon

In [40]:
pokemon = pd.DataFrame(data)
pokemon

     evolution   hp        name  pokedex           type
0    Bulbasaur   45     Ivysaur        2   Grass/Poison
1   Charmander   39  Charmeleon        5           Fire
2     Squirtle   44   Wartortle        8          Water
3       Pidgey   40   Pidgeotto       17  Normal/Flying
4      Pikachu   35      Raichu       25       Electric
5        Eevee   55    Vaporeon      133          Water
6     Clefairy   70    Clefable       35          Fairy
7   Jigglypuff  115  Wigglytuff       40   Normal/Fairy
8       Gastly   30     Haunter       92   Ghost/Poison
9         Onix   35     Steelix       95    Rock/Ground
10      Machop   70     Machoke       67       Fighting
11     Geodude   40    Graveler       75    Rock/Ground
12       Ditto   48       Ditto      132         Normal
13        Seel   65     Dewgong       86      Water/Ice
14     Drowzee   60       Hypno       96        Psychic

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [41]:
new_order = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon[new_order]
pokemon

          name           type   hp   evolution  pokedex
0      Ivysaur   Grass/Poison   45   Bulbasaur        2
1   Charmeleon           Fire   39  Charmander        5
2    Wartortle          Water   44    Squirtle        8
3    Pidgeotto  Normal/Flying   40      Pidgey       17
4       Raichu       Electric   35     Pikachu       25
5     Vaporeon          Water   55       Eevee      133
6     Clefable          Fairy   70    Clefairy       35
7   Wigglytuff   Normal/Fairy  115  Jigglypuff       40
8      Haunter   Ghost/Poison   30      Gastly       92
9      Steelix    Rock/Ground   35        Onix       95
10     Machoke       Fighting   70      Machop       67
11    Graveler    Rock/Ground   40     Geodude       75
12       Ditto         Normal   48       Ditto      132
13     Dewgong      Water/Ice   65        Seel       86
14       Hypno        Psychic   60     Drowzee       96

### Step 5. Add another column called place, and insert what you have in mind.

In [44]:
# Create a new series for 'place'
place = pd.Series(['Forest', 'Mountain', 'Water', 'Forest', 'Forest', 'Water', 'Cave', 'Grassland', 'Haunted Mansion', 'Cave', 'Mountain', 'Mountain', 'Ditto Habitat', 'Sea', 'Dream World'], name='place')

# Make a copy of the DataFrame and use .loc on the copy
pokemon_copy = pokemon.copy()
pokemon_copy.loc[:, 'place'] = place
pokemon = pokemon_copy
pokemon

          name           type   hp   evolution  pokedex            place
0      Ivysaur   Grass/Poison   45   Bulbasaur        2           Forest
1   Charmeleon           Fire   39  Charmander        5         Mountain
2    Wartortle          Water   44    Squirtle        8            Water
3    Pidgeotto  Normal/Flying   40      Pidgey       17           Forest
4       Raichu       Electric   35     Pikachu       25           Forest
5     Vaporeon          Water   55       Eevee      133            Water
6     Clefable          Fairy   70    Clefairy       35             Cave
7   Wigglytuff   Normal/Fairy  115  Jigglypuff       40        Grassland
8      Haunter   Ghost/Poison   30      Gastly       92  Haunted Mansion
9      Steelix    Rock/Ground   35        Onix       95             Cave
10     Machoke       Fighting   70      Machop       67         Mountain
11    Graveler    Rock/Ground   40     Geodude       75         Mountain
12       Ditto         Normal   48       Ditto      132    Ditto Habitat
13     Dewgong      Water/Ice   65        Seel       86              Sea
14       Hypno        Psychic   60     Drowzee       96      Dream World

### Step 6. Present the type of each column

In [45]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex       int64
place        object
dtype: object

### BONUS: Create your own question and answer it.

#### what is the most pokemon type

In [59]:
# Use value_counts to count the occurrences of each type
type_counts = pokemon['type'].value_counts()
max_count = type_counts.max()
most_repeated_types = type_counts[type_counts == max_count]
most_repeated_type_list = most_repeated_types.index.tolist()
print(most_repeated_type_list)

['Water', 'Rock/Ground']