# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [10]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep = '|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [17]:
occupation_group = users.groupby('occupation')
occupation_group.age.median()

occupation
administrator    37.0
artist           30.0
doctor           45.0
educator         42.0
engineer         36.0
entertainment    25.0
executive        38.5
healthcare       44.5
homemaker        32.0
lawyer           34.0
librarian        39.0
marketing        36.0
none             26.0
other            32.0
programmer       30.0
retired          63.0
salesman         34.0
scientist        37.0
student          21.0
technician       30.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [58]:
male_ration = occupation_group.gender.value_counts().loc[:, 'M'] / users.shape[0]
male_ration.sort_values( ascending = False )

occupation
student          0.144221
other            0.073171
educator         0.073171
engineer         0.068929
programmer       0.063627
administrator    0.045599
executive        0.030753
scientist        0.029692
technician       0.027572
writer           0.027572
librarian        0.023330
marketing        0.016967
entertainment    0.016967
artist           0.015907
retired          0.013786
lawyer           0.010604
salesman         0.009544
doctor           0.007423
none             0.005302
healthcare       0.005302
homemaker        0.001060
Name: count, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [62]:
occupation_group.age.min().sort_values()

occupation
student           7
none             11
other            13
entertainment    15
writer           18
salesman         18
artist           19
programmer       20
homemaker        20
technician       21
administrator    21
lawyer           21
healthcare       22
executive        22
engineer         22
educator         23
scientist        23
librarian        23
marketing        24
doctor           28
retired          51
Name: age, dtype: int64

In [60]:
occupation_group.age.max().sort_values()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

### Step 8.  For each occupation present the percentage of women and men