# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [3]:
baby_names = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

### Step 4. See the first 10 entries

In [4]:
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [5]:
baby_names.drop( columns = "Unnamed: 0", inplace = True )

### Step 6. Is there more male or female names in the dataset?

In [6]:
gender_counts = baby_names['Gender'].value_counts()
most_frequent_gender = gender_counts.idxmax()
print("The most frequent gender is:", most_frequent_gender)

The most frequent gender is: F

### Step 7. Group the dataset by name and assign to names

In [10]:
names =baby_names.groupby("Name")

### Step 8. How many different names exist in the dataset?

In [28]:
names["Name"].value_counts().shape[0]

17632

### Step 9. What is the name with most occurrences?

In [29]:
names["Name"].value_counts().idxmax()

'Riley'

### Step 10. How many different names have the least occurrences?

In [53]:
names_count = names["Name"].value_counts()
min_count = names_count.min()

names_with_min_count = names_count[names_count == min_count]

names_with_min_count.count().max()

3682

### Step 11. What is the median name occurrence?

In [52]:
names_count[names_count == names_count.median()].count()

360

### Step 12. What is the standard deviation of names?

In [54]:
names_count.std()

122.0299635081389

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [56]:
names_count.describe()

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64