# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [12]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [13]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [14]:
drinks[drinks.total_litres_of_pure_alcohol == drinks.sort_values('total_litres_of_pure_alcohol', ascending=False).iloc[0]['total_litres_of_pure_alcohol']]["total_litres_of_pure_alcohol"]

15    14.4
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [18]:
drinks.wine_servings.describe()

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [23]:
numeric_columns = ['beer_servings', 'spirit_servings', 'wine_servings']


drinks.groupby('continent')[numeric_columns].mean()

           beer_servings  spirit_servings  wine_servings
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

### Step 7. Print the median alcohol consumption per continent for every column

In [25]:
drinks.groupby('continent')[numeric_columns].median()

           beer_servings  spirit_servings  wine_servings
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [26]:
mean_spirit = drinks['spirit_servings'].mean()
min_spirit = drinks['spirit_servings'].min()
max_spirit = drinks['spirit_servings'].max()

# Display the results
print("Mean Spirit Consumption:", mean_spirit)
print("Minimum Spirit Consumption:", min_spirit)
print("Maximum Spirit Consumption:", max_spirit)

NameError: name 'df' is not defined