# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [90]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [91]:
address = pd.read_csv("https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv")
address.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

In [92]:
address['Total Equity'].value_counts()

Total Equity
-7426     1
-8783     1
 2671     1
-577      1
-4024     1
 1257     1
-32       1
 1464     1
-3010     1
-1175     1
-3913     1
 1774     1
 1267     1
 4343     1
 4240     1
 1268     1
 999      1
 3911     1
 1948     1
-1167     1
-1527     1
 320      1
-471      1
 118      1
-3890     1
-5496     1
-4451     1
-11156    1
 14817    1
 3155     1
 5761     1
 2286     1
 3530     1
 632      1
 666      1
-1079     1
 697      1
-2453     1
 2098     1
 1236     1
-922      1
-93       1
-7835     1
 1906     1
Name: count, dtype: int64

### Step 5. Set the column Date as the index.

In [93]:
address.set_index("Date", inplace=True)

### Step 6. What is the type of the index?

In [99]:
address.index.dtype

dtype('O')

### Step 7. Set the index to a DatetimeIndex type

In [107]:
address.index = address.index.astype('datetime64[ns]')

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [130]:
address.groupby(address["Date"].dt.month)['Total'].sum()

Date
1     31109
2     16359
3     17657
4     26039
5     14736
6     16621
7      3122
8      5723
9      2816
11    12502
12   -15782
Name: Total, dtype: int64

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

### BONUS: Create your own question and answer it.