# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [229]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [230]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep = '\t')

### Step 4. See the first 10 entries

In [231]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [232]:
# Solution 2
print(f"number of observations are {len(df)}")

number of observations are 4622

In [233]:
# Solution 1
print(f"number of observations are {df.shape[0]}")

number of observations are 4622

In [234]:
print(f"number of observations are {df.count().max()}")

number of observations are 4622

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [236]:
print(f"number of columns are {df.shape[1]}")

number of columns are 5

### Step 7. Print the name of all the columns.

In [237]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [238]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [239]:
most_ordered_item = df.sort_values('quantity', ascending=False).iloc[0]['item_name']
print(f"The most-ordered item is \"{most_ordered_item}\"")

The most-ordered item is "Chips and Fresh Tomato Salsa"

In [240]:
df.loc[df['quantity'].idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
Name: 3598, dtype: object

In [241]:
the_most_ordered_item = df.loc[df['quantity'].idxmax()]['item_name']
print(f"The most-ordered item is \"{the_most_ordered_item}\"")

The most-ordered item is "Chips and Fresh Tomato Salsa"

### Step 10. For the most-ordered item, how many items were ordered?

In [242]:
df["quantity"].max()

15

In [243]:
df.loc[df['quantity'].idxmax()]['quantity']

15

### Step 11. What was the most ordered item in the choice_description column?

In [244]:
df['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [245]:
df['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [246]:
print(df['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [247]:
df['item_price'] = df['item_price'].astype(str).str.replace('$', '', regex=False).astype('float32')

#### Step 13.c. Check the item price type

In [248]:
print(df['item_price'].dtype)

float32

### Step 14. How much was the revenue for the period in the dataset?

In [249]:
df['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [258]:
round(df['item_price'].sum() / df['quantity'].sum(),2)

6.94

### Step 16. What is the average revenue amount per order?

In [261]:
# Solution 1
df.groupby('order_id')['item_price'].sum().mean()

18.811428

In [260]:
# Solution 2
df.groupby('order_id')['item_price'].agg('sum').mean()

18.811428

### Step 17. How many different items are sold?