# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [4]:
import os
from datetime import datetime
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [5]:
d_format = "%d/%m/%Y"
start_date_string = "01/01/2015"
start_date = datetime.strptime(start_date_string,d_format)
end_date_string = datetime.now().strftime(d_format)
end_date = datetime.strptime(end_date_string,d_format)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [8]:
# df_apple = web.DataReader("AAPL", "av-daily", start=start_date,end=end_date,api_key=os.getenv('API_KEY')) 
df_apple = web.DataReader("AAPL", "av-daily", start=start_date,end=end_date,api_key='VQHGLOHB0K0378SX') 
df_apple

              open    high      low   close    volume
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547
...            ...     ...      ...     ...       ...
2023-10-27  166.91  168.96  166.830  168.22  58499129
2023-10-30  169.02  171.17  168.870  170.29  51130955
2023-10-31  169.35  170.90  167.900  170.77  44846017
2023-11-01  171.00  174.23  170.120  173.97  56934906
2023-11-02  175.52  177.78  175.460  177.57  77334752

[2225 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

### Step 7. Create a dataFrame called vol, with the volume values.

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015