# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [65]:
from datetime import datetime
from pandas_datareader.data import DataReader
import pandas as pd
# VQHGLOHB0K0378SX - NDF3HGNI74EO1EWO

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [66]:
d_format = "%d/%m/%Y"
start_date_string = "01/01/2015"
start_date = datetime.strptime(start_date_string,d_format)
end_date_string = datetime.now().strftime(d_format)
end_date = datetime.strptime(end_date_string,d_format)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [67]:
# df_apple = DataReader("AAPL", "av-daily", start=start_date,end=end_date,api_key='VQHGLOHB0K0378SX') 
# df_TSLA = DataReader("TSLA", "av-daily", start=start_date,end=end_date,api_key='NDF3HGNI74EO1EWO')
# df_IBM = DataReader("IBM", "av-daily", start=start_date,end=end_date,api_key='NDF3HGNI74EO1EWO')
# df_MSFT = DataReader("MSFT", "av-daily", start=start_date,end=end_date,api_key='NDF3HGNI74EO1EWO')
# pd.DataFrame(df_apple).to_csv("df_apple.csv")
# pd.DataFrame(df_TSLA).to_csv("df_TSLA.csv")
# pd.DataFrame(df_IBM).to_csv("df_IBM.csv")
# pd.DataFrame(df_MSFT).to_csv("df_MSFT.csv")

In [68]:
df_apple = pd.read_csv('df_apple.csv', index_col=0, parse_dates=True)
df_TSLA = pd.read_csv("df_TSLA.csv", index_col=0, parse_dates=True)
df_IBM = pd.read_csv("df_IBM.csv", index_col=0, parse_dates=True)
df_MSFT = pd.read_csv("df_MSFT.csv", index_col=0, parse_dates=True)
df_apple.index.name = 'day'
df_TSLA.index.name = 'day'
df_IBM.index.name = 'day'
df_MSFT.index.name = 'day'

In [69]:
df_apple

              open    high      low   close    volume
day
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547
...            ...     ...      ...     ...       ...
2023-11-01  171.00  174.23  170.120  173.97  56934906
2023-11-02  175.52  177.78  175.460  177.57  77334752
2023-11-03  174.24  176.82  173.350  176.65  79829246
2023-11-06  176.38  179.43  176.210  179.23  63841310
2023-11-07  179.18  182.44  178.970  181.82  70529966

[2228 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [70]:
def ticker(open,close):
    deference = close - open
    if(deference > 0):
        return "ðŸ”¼"
    else:
        return "ðŸ”½"

In [71]:
df_apple["stock"] = df_apple.apply(lambda day: ticker(day.open, day.close), axis=1)
df_apple.head(5)

              open    high      low   close    volume stock
day
2015-01-02  111.39  111.44  107.350  109.33  53204626     ðŸ”½
2015-01-05  108.29  108.65  105.410  106.25  64285491     ðŸ”½
2015-01-06  106.54  107.43  104.630  106.26  65797116     ðŸ”½
2015-01-07  107.20  108.20  106.695  107.75  40105934     ðŸ”¼
2015-01-08  109.23  112.15  108.700  111.89  59364547     ðŸ”¼

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [72]:
df_TSLA["stock"] = df_TSLA.apply(lambda day: ticker(day.open, day.close), axis=1)
print(df_TSLA.head(5))

              open      high       low    close   volume stock
day
2015-01-02  222.87  223.2500  213.2600  219.310  4764443     ðŸ”½
2015-01-05  214.55  216.5000  207.1626  210.090  5368477     ðŸ”½
2015-01-06  210.06  214.2000  204.2100  211.280  6261936     ðŸ”¼
2015-01-07  213.35  214.7800  209.7800  210.950  2968390     ðŸ”½
2015-01-08  212.81  213.7999  210.0100  210.615  3442509     ðŸ”½

In [73]:
df_IBM["stock"] = df_IBM.apply(lambda day: ticker(day.open, day.close), axis=1)
print(df_IBM.head(5))

              open     high     low   close   volume stock
day
2015-01-02  161.31  163.310  161.00  162.06  5525341     ðŸ”¼
2015-01-05  161.27  161.270  159.19  159.51  4880389     ðŸ”½
2015-01-06  159.67  159.960  155.17  156.07  6145670     ðŸ”½
2015-01-07  157.20  157.200  154.03  155.05  4701015     ðŸ”½
2015-01-08  156.24  159.044  155.55  158.42  4240585     ðŸ”¼

In [74]:
df_MSFT["stock"] = df_MSFT.apply(lambda day: ticker(day.open, day.close), axis=1)
print(df_MSFT.head(5))

             open     high    low   close    volume stock
day
2015-01-02  46.66  47.4200  46.54  46.760  27913852     ðŸ”¼
2015-01-05  46.37  46.7300  46.25  46.325  39673865     ðŸ”½
2015-01-06  46.38  46.7490  45.54  45.650  36447854     ðŸ”½
2015-01-07  45.98  46.4600  45.49  46.230  29114061     ðŸ”¼
2015-01-08  46.75  47.7499  46.72  47.590  29645202     ðŸ”¼

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [75]:
combined = pd.concat({"apple": df_apple,"TSLA": df_TSLA,"IBM": df_IBM,"Microsoft": df_MSFT}, axis=0)
combined.to_csv('combined.csv')

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [76]:
# set the index to the stock and date columns
combined.set_index("stock",append=True)

                              open    high      low   close    volume
          day        stock
apple     2015-01-02 ðŸ”½      111.39  111.44  107.350  109.33  53204626
          2015-01-05 ðŸ”½      108.29  108.65  105.410  106.25  64285491
          2015-01-06 ðŸ”½      106.54  107.43  104.630  106.26  65797116
          2015-01-07 ðŸ”¼      107.20  108.20  106.695  107.75  40105934
          2015-01-08 ðŸ”¼      109.23  112.15  108.700  111.89  59364547
...                            ...     ...      ...     ...       ...
Microsoft 2023-11-01 ðŸ”¼      339.79  347.42  339.650  346.07  28158819
          2023-11-02 ðŸ”¼      347.24  348.83  344.770  348.32  24348072
          2023-11-03 ðŸ”¼      349.63  354.39  347.330  352.80  23637673
          2023-11-06 ðŸ”¼      353.45  357.54  353.350  356.53  23828301
          2023-11-07 ðŸ”¼      359.40  362.46  357.630  360.53  25833931

[8912 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [139]:
vol = combined["volume"]
vol

           day
apple      2015-01-02    53204626
           2015-01-05    64285491
           2015-01-06    65797116
           2015-01-07    40105934
           2015-01-08    59364547
                           ...
Microsoft  2023-11-01    28158819
           2023-11-02    24348072
           2023-11-03    23637673
           2023-11-06    23828301
           2023-11-07    25833931
Name: volume, Length: 8912, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [144]:
# vol.groupby([pd.Grouper(freq='W', level=1), vol.index.get_level_values(0)]).sum()
vol.groupby([pd.Grouper(freq='W', level=1), vol.index.get_level_values(0)]).sum().unstack()

                 IBM  Microsoft       TSLA      apple
day
2015-01-04   5525341   27913852    4764443   53204626
2015-01-11  24440360  158596624   22622034  282868187
2015-01-18  23272056  157088136   30799137  304226647
2015-01-25  31230797  137352632   16215501  198737041
2015-02-01  32927307  437786778   15720217  465842684
...              ...        ...        ...        ...
2023-10-15  16386334  100910313  541545143  241839090
2023-10-22  21044049  113729959  616410739  288377600
2023-10-29  30227448  178267212  585973376  286078102
2023-11-05  22959464  119237928  621700507  310075876
2023-11-12   8147102   49662232  234235950  134371276

[463 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [142]:
vol[vol.index.get_level_values('day').year == 2015].sum()

24314152987