# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
from datetime import datetime
from pandas_datareader.data import DataReader
import pandas as pd
# VQHGLOHB0K0378SX - NDF3HGNI74EO1EWO

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [2]:
d_format = "%d/%m/%Y"
start_date_string = "01/01/2015"
start_date = datetime.strptime(start_date_string,d_format)
end_date_string = datetime.now().strftime(d_format)
end_date = datetime.strptime(end_date_string,d_format)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [3]:
df_apple = DataReader("AAPL", "av-daily", start=start_date,end=end_date,api_key='VQHGLOHB0K0378SX') 
df_apple

              open    high      low   close    volume
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547
...            ...     ...      ...     ...       ...
2023-10-31  169.35  170.90  167.900  170.77  44846017
2023-11-01  171.00  174.23  170.120  173.97  56934906
2023-11-02  175.52  177.78  175.460  177.57  77334752
2023-11-03  174.24  176.82  173.350  176.65  79829246
2023-11-06  176.40  179.43  176.210  179.23  63663471

[2227 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [4]:
def ticker(open,close):
    deference = close - open
    if(deference > 0):
        return "ðŸ”¼"
    else:
        return "ðŸ”½"

In [5]:
df_apple["stock"] = df_apple.apply(lambda day: ticker(day.open, day.close), axis=1)
df_apple.head(10)

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626     ðŸ”½
2015-01-05  108.29  108.65  105.410  106.25  64285491     ðŸ”½
2015-01-06  106.54  107.43  104.630  106.26  65797116     ðŸ”½
2015-01-07  107.20  108.20  106.695  107.75  40105934     ðŸ”¼
2015-01-08  109.23  112.15  108.700  111.89  59364547     ðŸ”¼
2015-01-09  112.67  113.25  110.210  112.01  53315099     ðŸ”½
2015-01-12  112.60  112.63  108.800  109.25  49650790     ðŸ”½
2015-01-13  111.43  112.80  108.910  110.22  67091928     ðŸ”½
2015-01-14  109.04  110.49  108.500  109.80  48956588     ðŸ”¼
2015-01-15  110.00  110.06  106.660  106.82  60013996     ðŸ”½

In [6]:
df_TSLA = DataReader("TSLA", "av-daily", start=start_date,end=end_date,api_key='NDF3HGNI74EO1EWO')

In [7]:
df_TSLA["stock"] = df_TSLA.apply(lambda day: ticker(day.open, day.close), axis=1)
print(df_TSLA.head(10))

              open      high       low    close    volume stock
2015-01-02  222.87  223.2500  213.2600  219.310   4764443     ðŸ”½
2015-01-05  214.55  216.5000  207.1626  210.090   5368477     ðŸ”½
2015-01-06  210.06  214.2000  204.2100  211.280   6261936     ðŸ”¼
2015-01-07  213.35  214.7800  209.7800  210.950   2968390     ðŸ”½
2015-01-08  212.81  213.7999  210.0100  210.615   3442509     ðŸ”½
2015-01-09  208.92  209.9800  204.9600  206.660   4580722     ðŸ”½
2015-01-12  203.05  204.4700  199.2500  202.210   5950280     ðŸ”½
2015-01-13  203.32  207.6100  200.9110  204.250   4477320     ðŸ”¼
2015-01-14  185.83  195.2000  185.0000  192.690  11551855     ðŸ”¼
2015-01-15  194.49  195.7499  190.0000  191.870   5216524     ðŸ”½

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [8]:
df_IBM = DataReader("IBM", "av-daily", start=start_date,end=end_date,api_key='NDF3HGNI74EO1EWO')

In [9]:
df_IBM["stock"] = df_IBM.apply(lambda day: ticker(day.open, day.close), axis=1)
print(df_IBM.head(10))

              open     high     low   close   volume stock
2015-01-02  161.31  163.310  161.00  162.06  5525341     ðŸ”¼
2015-01-05  161.27  161.270  159.19  159.51  4880389     ðŸ”½
2015-01-06  159.67  159.960  155.17  156.07  6145670     ðŸ”½
2015-01-07  157.20  157.200  154.03  155.05  4701015     ðŸ”½
2015-01-08  156.24  159.044  155.55  158.42  4240585     ðŸ”¼
2015-01-09  158.42  160.340  157.25  159.11  4472701     ðŸ”¼
2015-01-12  159.00  159.250  155.76  156.44  4187588     ðŸ”½
2015-01-13  157.26  159.970  155.68  156.81  4386989     ðŸ”½
2015-01-14  154.86  156.490  153.74  155.80  4689740     ðŸ”¼
2015-01-15  156.69  156.970  154.16  154.57  4251698     ðŸ”½

In [10]:
df_MSFT = DataReader("MSFT", "av-daily", start=start_date,end=end_date,api_key='VQHGLOHB0K0378SX')

In [11]:
df_MSFT["stock"] = df_MSFT.apply(lambda day: ticker(day.open, day.close), axis=1)
print(df_MSFT.head(10))

             open     high    low   close    volume stock
2015-01-02  46.66  47.4200  46.54  46.760  27913852     ðŸ”¼
2015-01-05  46.37  46.7300  46.25  46.325  39673865     ðŸ”½
2015-01-06  46.38  46.7490  45.54  45.650  36447854     ðŸ”½
2015-01-07  45.98  46.4600  45.49  46.230  29114061     ðŸ”¼
2015-01-08  46.75  47.7499  46.72  47.590  29645202     ðŸ”¼
2015-01-09  47.61  47.8200  46.90  47.190  23715642     ðŸ”½
2015-01-12  47.42  47.5400  46.36  46.600  23651887     ðŸ”½
2015-01-13  46.97  47.9100  46.06  46.355  35270601     ðŸ”½
2015-01-14  45.96  46.2400  45.62  45.955  29719580     ðŸ”½
2015-01-15  46.22  46.3800  45.41  45.480  32750779     ðŸ”½

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [70]:
combined = pd.concat({"apple": df_apple,"TSLA": df_TSLA,"IBM": df_IBM,"Microsoft": df_MSFT}, axis=0)
combined

                        open    high      low   close    volume stock
apple     2015-01-02  111.39  111.44  107.350  109.33  53204626     ðŸ”½
          2015-01-05  108.29  108.65  105.410  106.25  64285491     ðŸ”½
          2015-01-06  106.54  107.43  104.630  106.26  65797116     ðŸ”½
          2015-01-07  107.20  108.20  106.695  107.75  40105934     ðŸ”¼
          2015-01-08  109.23  112.15  108.700  111.89  59364547     ðŸ”¼
...                      ...     ...      ...     ...       ...   ...
Microsoft 2023-10-31  338.85  339.00  334.690  338.11  20265282     ðŸ”½
          2023-11-01  339.79  347.42  339.650  346.07  28158819     ðŸ”¼
          2023-11-02  347.24  348.83  344.770  348.32  24348072     ðŸ”¼
          2023-11-03  349.63  354.39  347.330  352.80  23637673     ðŸ”¼
          2023-11-06  353.41  357.54  353.350  356.53  23790236     ðŸ”¼

[8908 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [71]:
combined.index.set_names(['company', 'day'], level=[0, 1], inplace=True)
combined.reset_index(inplace=True)
combined.set_index('stock',inplace=True)
combined

         company         day    open    high      low   close    volume
stock
ðŸ”½          apple  2015-01-02  111.39  111.44  107.350  109.33  53204626
ðŸ”½          apple  2015-01-05  108.29  108.65  105.410  106.25  64285491
ðŸ”½          apple  2015-01-06  106.54  107.43  104.630  106.26  65797116
ðŸ”¼          apple  2015-01-07  107.20  108.20  106.695  107.75  40105934
ðŸ”¼          apple  2015-01-08  109.23  112.15  108.700  111.89  59364547
...          ...         ...     ...     ...      ...     ...       ...
ðŸ”½      Microsoft  2023-10-31  338.85  339.00  334.690  338.11  20265282
ðŸ”¼      Microsoft  2023-11-01  339.79  347.42  339.650  346.07  28158819
ðŸ”¼      Microsoft  2023-11-02  347.24  348.83  344.770  348.32  24348072
ðŸ”¼      Microsoft  2023-11-03  349.63  354.39  347.330  352.80  23637673
ðŸ”¼      Microsoft  2023-11-06  353.41  357.54  353.350  356.53  23790236

[8908 rows x 7 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [55]:
vol = combined.volume
vol

stock
ðŸ”½    53204626
ðŸ”½    64285491
ðŸ”½    65797116
ðŸ”¼    40105934
ðŸ”¼    59364547
       ...
ðŸ”½    20265282
ðŸ”¼    28158819
ðŸ”¼    24348072
ðŸ”¼    23637673
ðŸ”¼    23790236
Name: volume, Length: 8908, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [73]:
combined['day'] = combined.day.astype('datetime64[ns]')

In [57]:
combined.set_index('day', inplace=True)

In [60]:
vol_grouped = combined.groupby(['company',pd.Grouper(freq='W-MON')]).agg({'volume': 'sum'})

In [62]:
vol_grouped

                       volume
company day
IBM     2015-01-05   10405730
        2015-01-12   23747559
        2015-01-19   19084468
        2015-01-26   39118834
        2015-02-02   29751287
...                       ...
apple   2023-10-09  250800264
        2023-10-16  251965302
        2023-10-23  291840725
        2023-10-30  281228948
        2023-11-06  322608392

[1848 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [77]:
combined = combined[combined['day'].dt.year == 2015]
combined

         company        day    open    high       low   close    volume
stock
ðŸ”½          apple 2015-01-02  111.39  111.44  107.3500  109.33  53204626
ðŸ”½          apple 2015-01-05  108.29  108.65  105.4100  106.25  64285491
ðŸ”½          apple 2015-01-06  106.54  107.43  104.6300  106.26  65797116
ðŸ”¼          apple 2015-01-07  107.20  108.20  106.6950  107.75  40105934
ðŸ”¼          apple 2015-01-08  109.23  112.15  108.7000  111.89  59364547
...          ...        ...     ...     ...       ...     ...       ...
ðŸ”½      Microsoft 2015-12-24   55.86   55.96   55.4300   55.67   9570002
ðŸ”¼      Microsoft 2015-12-28   55.35   55.95   54.9800   55.95  22458293
ðŸ”¼      Microsoft 2015-12-29   56.29   56.85   56.0600   56.55  27731403
ðŸ”½      Microsoft 2015-12-30   56.47   56.78   56.2875   56.31  21704505
ðŸ”½      Microsoft 2015-12-31   56.04   56.19   55.4200   55.48  27334061

[1008 rows x 7 columns]